@import "../utils/_variables.scss";

.table {
  &__body-item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    &:last-child {
      border-bottom: 0;
    }
    &:nth-child(even) {
      background: #f0f0f0;
      &-value {
        color: #7f7f7f;
      }
    }
  }
  &__body-value {
    width: 100%;
    height: 40px;
    text-align: left;
    padding: 0 1.5rem;
    line-height: 40px;
    color: #838383;
    font-family: $font-regular;
    font-size: 14px;
    &.label-content {
      overflow: auto hidden;
      white-space: nowrap;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical {
        width: 6px;
      }

      &::-webkit-scrollbar-button:increment,
      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar:horizontal {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #a7a7a7;
        border-radius: 20px;
        border: 0;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
    }
    img {
      width: 18px;
      height: 18px;
      margin: 0 6px 0 0;
      border-radius: 100%;
      display: inline-block;
    }
    span {
      display: inline-block;
      font-size: 14px;
    }
    .label {
      border-radius: 30px;
      height: 25px;
      padding: 0px 7px;
      color: #000;
      line-height: 25px;
      margin: 0 4px 0 0;
      font-size: 12px;
      letter-spacing: 0.5px;
    }
    &[data-state="open"],
    &[data-state="closed"] {
      font-family: $font-bold;
    }

    &[data-state="open"] {
      color: #329247;
    }

    &[data-state="closed"] {
      color: #bb2b2b;
    }
  }
}
