@import "../utils/_variables.scss";

.table {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background: #362f4b;
    height: 50px;
    position: sticky;
    top: 0;

    &-title {
      width: 100%;
      text-align: left;
      padding: 0.9rem 1.5rem;
      color: #fff;
      letter-spacing: 0.5px;
      font-family: $font-bold;
      h3 {
        font-size: 1rem;
      }
    }
  }
}
